.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}