.projects {
  padding: 60px 20px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 40px;
  background: #111;
  border-radius: 10px;
}

/* Responsive */
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}